<!DOCTYPE html>
<html>
    <head>
        <title> Yeti Camps</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Yeti Camps</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar navbar-nav navbar-right">
              <a class="nav-item nav-link active" href="/login">Login <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="/register">Sign Up</a>
               <a class="nav-item nav-link" href="/logout">Sign Out</a>
            </div>
        </div>
    </nav>



        
        
