<% include ../partials/header %> 

<style rel="stylesheet">

    
</style>

<div class="container">
    
    <header class="jumbotron">
        <div class="container">
              <h1>Welcome to Yeti Camps</h1>
              <p>The coolest camp sites in the entire word!</p>
            
            <p>
                  <a class="btn btn-primary btn-lg" href="/camps"> view all camp grounds! </a>
            </p>
            
        </div>

          
        
    </header>
    
 

   

  

    
    
    
    
    
    
</div>



<% include ../partials/footer %> 